li= link_to "Instruction", knowledge_bases_path + "/index/instructions"
li= link_to "Knowledge Base", knowledge_bases_path + "/index/kb"
li= link_to "Categories", categories_path
li= link_to "Problems", problems_path
