doctype html
html
  head
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    title= content_for?(:title) ? yield(:title) : "Ipsilon App"
    meta content=(content_for?(:description) ? yield(:description) : "Ipsilon APP") name="description"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    header
      = render 'layouts/navigation'
    main role="main" 
      = render 'layouts/messages'
      = yield
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p © Ipsilon
          .large-6.columns
            ul.inline-list.right
              li
                a href="http://github.com/jlrogee/ipsilon"  Github
